* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: whitesmoke;
}

html {
    scroll-behavior: smooth;
}


/* ---------------ASIDE------------------------------ */

aside {
    width: 60px;
    background-color: rgb(89, 191, 231);
    position: fixed;
    height: 100vh;
    padding: 20px;
    /* overflow-y: scroll; */
    overflow-x: hidden;
    display: block;
    flex-wrap: nowrap;
    transition: .8s;
}

aside h2 {
    font-size: 45px;
    font-family: 'League Gothic', sans-serif;
    color: white;
    font-weight: 500;
    width: 280px;
}

aside h2 i {
    margin-right: 8px;
    font-size: 40px;
}

aside nav ul li {
    list-style: none;
    padding: 5px;
    margin-top: 5px;
    font-weight: 700;
    width: 280px;
    transition: .5s;
}

aside nav ul li a,
aside nav ul li i {
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    color: white;
    font-weight: 500;
    text-decoration: none;
}

aside ul li i {
    margin-right: 20px;
}

aside nav ul li a {
    font-weight: 700;
}

aside nav {
    margin-top: 10px;
    width: 280px;
}

aside h3 {
    font-size: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 2px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    width: 280px;
}

aside span {
    font-size: 50px;
    margin-right: 3px;
}

::-webkit-scrollbar {
    width: 0px;
}


/* ---------MAIN--------------------------------------- */

main {
    width: 95%;
    margin-left: 70px;
    padding: 10px;
}

main header {
    background-color: #fff;
    font-family: 'Kdam Thmor Pro', sans-serif;
    font-size: 50px;
    padding: 12px;
    margin: 5px;
    padding-left: 20px;
}

main article {
    padding: 12px;
    margin: 5px;
    background-color: #fff;
}

main article nav {
    display: flex;
}

main article nav ul {
    display: flex;
}

main article nav ul li {
    margin: 8px;
    list-style: none;
    padding: 6px;
    background-color: rgb(86, 197, 242);
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 8px;
}

main article nav ul li i {
    padding: 5px;
}

main article .info h3 i {
    margin-right: 6px;
}

main article nav ul li a {
    text-decoration: none;
    color: #fff;
    font-weight: 600;
    font-family: 'Oswald', sans-serif;
}

main article img {
    height: 400px;
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
    transition: 1s;
}

main article #image {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    height: 450px;
}

main article .info {
    margin: 5px;
    margin-top: 10px;
    padding: 10px;
}

main article .info p {
    font-family: 'Kdam Thmor Pro', sans-serif;
    font-size: 15px;
}

main article .info h3 {
    font-family: 'Staatliches', cursive;
    font-size: 28px;
}


/* ---------------FOOTER--------------------------------- */

footer {
    background-color: black;
    color: white;
    font-weight: 600;
    margin-left: auto;
    margin-right: auto;
    padding: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
}


/* ----------Hover------------------------------------ */

aside:hover {
    width: 300px;
    padding: 20px;
    overflow-y: scroll;
    border-top-right-radius: 20px;
}

aside nav ul li:hover {
    border-left: 5px solid white;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

main article #image img:hover {
    transform: scale(1.1);
}


/* ------@MEDIA-------------------------- */

@media(max-width:800px) {
    #image img {
        width: 90%;
        height: 300px;
        margin: 0;
        padding: 0;
    }
    main {
        height: 100vh;
        overflow-y: scroll;
        overflow-x: hidden;
        width: 80%;
    }
    aside {
        height: 100vh;
        position: absolute;
    }
    article nav {
        display: flex;
        width: 98%;
        overflow: scroll;
    }
}